.page-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #1a8dff;
  z-index: -1;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 352px;
  text-align: center;
}

.text-white {
  color: #ffffff !important;
}

.text-yellow {
  color: #fdb41d !important;
}

.btn-primary,
.btn-primary-outline {
  background-color: #fdb41d;
  border: 4px solid #fdb41d;
  padding: 12px 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.btn-primary-outline {
  background-color: #ffffff;
}

.icon-btn {
  cursor: pointer;
  color: white;
  background: transparent;
  font-size: 32px;
  line-height: 32px;
}

.card-primary,
.card-outline {
  background: #ffffff;
  border: 4px solid #01aefe;
  border-radius: 25px;
  padding: 16px;
}

.card-primary {
  background: #caedff;
}

.tab {
  background: #caedff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 6px 4px;
  font-size: 14px;
}

.track {
  border-radius: 25px;
  border: 2px solid #000000;
  background: #cccccc;
  height: 120px;
}

table {
  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
}

.checkpoint {
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.completed {
  background-color: #fdb41d;
}

.small-to-large {
  animation: grow 1s forwards;
}

@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(3);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  28% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
