.app-wrapper {
  width: 100%;
  height: 100vh;
  max-width: 353px;
  /* background-color: rgb(240, 240, 240); */
  margin: 0 auto;
  display: block;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

h2, h3, h4 {
  color: #0a2540;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.6px;
}

img {
  max-width: 100%;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 352px;
  padding: 10px 0;
  text-align: center;
}
