.race-in-progress-wrapper {
  border-radius: 10px;
}

.waypoints-container {
  padding: 16px;
  padding-top: 24px;
  margin: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.waypoint {
  padding: 0 16px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-size: 20px;
}

.race-tracker h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

.timer {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.cancel-button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.cancel-button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.initialMessage, .countdown {
  font-size: 2rem;
}

.countdown {
  &.small-to-large {
    animation: grow 1s forwards;
  }

  &.heartbeat {
    font-size: 40px;
    color: #e74c3c;
    animation: heartbeat 1.5s infinite;
  }
}

@keyframes grow {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(3);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  28% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
